<section class="container">
    <div class="four columns center">
        CastleGaming006<br />
        <small>at</small><br />
        gmail<br />
        <small>dot</small><br />
        com
    </div>

    <div class="seven columns">       
    	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSctIJ17U9NkE2QcNwhQQMrw4_u7Qt2f3ylGqFXayVuX3Eavrw/viewform?embedded=true" width="539" height="850" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>           
    </div>

	<aside class="five columns">
        <span class="clear"></span>
        <p>FOLLOW CASTLE GAMING</p>
        <a id="fb" target="_blank" href="http://on.fb.me/1HImN6Y"></a> 
        <a id="tw" target="_blank" href="http://bit.ly/1Y4NzQu"></a><br />
        <a id="yt" target="_blank" href="http://bit.ly/1O4edEv"></a> 
    </aside>
</section> 