<section class="container">
    <div class="six columns center">
        CastleGaming006<br />
        <small>at</small><br />
        gmail<br />
        <small>dot</small><br />
        com
    </div>

    <div class="five columns">       
    	<form>
        	Hi, I am a 
            <select id="contacttype">
	                <option value="fan">Castle Gamer</option>
	                <option value="noob">new person to CG</option>
            </select> 
            and I want to 
            <select id="contactsubject">
	                <option value="props">send CG props</option>
	                <option value="mailinglist">join the mailing list</option>
	                <option value="question">ask a question</option>
            </select>
            <textarea></textarea>
            <input type="reset" title="Erase everything" /> <input type="submit" title="Submit email" />
        </form>           
    </div>

	<aside class="five columns">
        <span class="clear"></span>
        <p>FOLLOW CASTLE GAMING</p>
        <a id="fb" target="_blank" href="http://on.fb.me/1HImN6Y"></a> 
        <a id="tw" target="_blank" href="http://bit.ly/1Y4NzQu"></a><br />
        <a id="yt" target="_blank" href="http://bit.ly/1O4edEv"></a> 
    </aside>
</section> 