<section class="container">
    <div class="eleven columns">
        <div class="greybg">
            <h3>CASTLE GAMING</h3>
            <p>Come to Play | Come to Compete | Come to Win<br />
            BROOKLYN, NEW YORK</p>
        </div>
        <hr />
    	<div id="lefttriangletext">
            <ul class="six columns">
                <div class="container">
                    <li class="three columns"><strong>Quality</strong><br /> The way we put <br />our tournaments together is top notch. <br />We're dedicated to providing the best gaming experience.</li>
                </div>
                <div class="container">
                    <li class="five columns"><strong>Truth & Brutal Opinions</strong><br /> Simply put we hold no punches. If the game sucks it sucks - we don't want to lie about it.</li>
                </div>
                <div class="container">
                    <li class="six columns"><strong>Tough Competition</strong><br /> This is where great players are forged and the weak ones get better at their gaming skills.</li>
                </div>
                <li class="eight columns"><strong>New Technology</strong><br /> We love shiny things! It's important for us to check out new consoles, accessories, and games. We welcome new types of game play and innovations whether it's made by big companies or independent ones.</li>
                <li class="nine columns"><strong>Community</strong><br /> We welcome anyone to play with us or against us. We also want to give back to community to showcase the many talents of our gaming community and if at all possible, offer our insight and help out where we can.</li>
            </ul>
        </div>
        <div id="righttriangletext">
            <p class="five columns">Castle Gaming was created in 2006 as a place where all gamers could come together and have a sense of community. Here at CG we stand firm in the belief that some of the best gamers exist right here in New York City and because of this CG was created. <br /><br />
            <em>We stand for quality, truth & brutal opinions, tough competition and community.</em></p>
        </div>
    </div>
    
    <aside class="five columns">            
        <div class="hex-row odd">
            <div class="twitterhex">
	        	<div class="top"></div><div class="middle">
                     <a class="twitter-timeline" href="https://twitter.com/castlegaming" data-widget-id="664934511264813057" width="290" height="270" data-chrome="nofooter noheader">Tweets by @castlegaming</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>    
                </div><div class="bottom"></div>
    	    </div>
        </div>
        <div class="hex-row even">
            <div class="hex">
                <a href="contact">
                    <div class="top"></div>
                    <div class="middle">CONTACT CASTLE GAMING</div>
                    <div class="bottom"></div>
                </a>
            </div>
            <div class="hex">
                <a href="https://www.twitch.tv/castlegaming">
                    <div class="top rt"></div>
                    <div class="middle rt">CASTLE GAMING on TWITCH</div>
                    <div class="bottom rt"></div>
                </a>
            </div>
        </div>
        
        <span class="clear"></span>
        <p>FOLLOW CASTLE GAMING</p>
        <a id="fb" target="_blank" href="http://on.fb.me/1HImN6Y"></a> 
        <a id="tw" target="_blank" href="http://bit.ly/1Y4NzQu"></a><br />
        <a id="yt" target="_blank" href="http://bit.ly/1O4edEv"></a>  
    </aside>
</section>