<section class="container">
    <div class="three columns greybg minheight alpha">            
        <p>CURRENT TOURNAMENT NAME HERE</p>
        <p class="sidePageAds" >AD #1</p>
        <p class="sidePageAds" >AD #2</p>
        <p class="sidePageAds" >AD #3</p>
    </div>

    <div class="seven columns greybg minheight">
        <iframe src="https://docs.google.com/forms/d/1inYjdpSzaV8awFLQplj2rHtOuCP9Ps3ZGMydtzCR-zk/viewform?embedded=true" width="500" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>

    <div class="six columns minheight">
        <iframe src="https://calendar.google.com/calendar/embed?title=CG%20Calendar&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=270&amp;wkst=1&amp;bgcolor=%23d1d2d4&amp;src=castlegaming006%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" width="340" height="270" frameborder="0" scrolling="no"></iframe>
    </div>
</section>