<section class="container">
    <div class="three columns minheight"> <!-- adspace -->
        <div class="sidePage">
            <a href="#">
                <img class="sidePageAds" src="images/cg_flyer.jpg" alt="Castle Gaming Flyer" />
            </a>
        </div>
        <div class="sidePage">
            <a href="#">
                <img class="sidePageAds" src="images/pn_podcast_img.jpg" alt="Listen to the Pondering Nerdcast" />
            </a>
        </div>
        <div class="sidePage">
            <a href="#">
                <img class="sidePageAds" src="images/logo_bg.jpg" alt="Castle Gaming" />
            </a>
        </div>
    </div>

    <div class="eight columns greybg minheight center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeTlCs5paipXNk219Sc4EvA3tkbmjYYjw99fs3B9_RblCqkFQ/viewform?embedded=true" width="500" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>

    <div class="five columns minheight center">
        <iframe src="https://calendar.google.com/calendar/embed?title=CG%20Calendar&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=270&amp;wkst=1&amp;bgcolor=%23d1d2d4&amp;src=castlegaming006%40gmail.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" width="340" height="270" frameborder="0" scrolling="no"></iframe>
    </div>
</section>